.login-window {
width:590px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
background-color:#eff3f7;
-webkit-box-shadow:0 4px 7px rgba(13,16,7,.29);
-moz-box-shadow:0 4px 7px rgba(13,16,7,.29);
box-shadow:0 4px 7px rgba(13,16,7,.29);
text-align:center;
padding-bottom:5px;
margin:30px auto;
}

.login-window__header-container {
background-color:#48cbe8;
-webkit-border-radius:4px 4px 0 0 3px 0 0;
-moz-border-radius:4px 4px 0 0 3px 0 0;
border-radius:4px 4px 0 0 3px 0 0;
border-bottom:15px solid #67dffa;
margin-bottom:33px;
padding:15px 0;
}

.login-window__header {
font-size:40px;
color:#fff;
font-weight:400;
margin:0;
}

.login-window__form-container {
padding:0 82px;
}

.login-form {
width:425px;
margin-bottom:19px;
}

.label {
font-size:36px;
font-family:fira_sanslight;
color:#58697a;
}

.input {
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background-color:#fff;
border:1px solid #67dffa;
font-size:17px;
outline:none;
width:100%;
padding:17px 12px;
}

.button {
font-size:31px;
height:53px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
background-color:#48cbe8;
color:#fff;
box-shadow:0 3px #3ba8c0;
display:block;
border:none;
outline:none;
margin:19px auto 22px;
padding:0 70px;
}

.button:hover {
box-shadow:none;
bottom:-3px;
}

.button:active {
box-shadow:0 3px #3ba8c0 inset;
padding-top:3px;
}

::-webkit-input-placeholder {color:#67dffa;}
::-moz-placeholder          {color:#67dffa;}/* Firefox 19+ */
:-moz-placeholder           {color:#67dffa;}/* Firefox 18- */
:-ms-input-placeholder      {color:#67dffa;}